  <!-- Main Sidebar Container -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Mairie</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Accueil</a></li>
              <li class="breadcrumb-item">Liste des mairies</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-12">
            <div class="card card-success">
              <div class="card-header">
                <h3 class="card-title">La liste des mairies</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped" *ngIf="listeMairie">
                  <thead>
                  <tr>
                    <th>Mairie N°</th>
                    <th>Libelle Mairie</th>
                    <th>Quartier(s)</th>
                    <th>Type Mairie</th>
                    <th>Commune</th>
                  </tr>
                  </thead>
                  <tbody *ngFor="let mairie of listeMairie">
                
                  <tr>
                    <td><button class="btn btn-success"> <a (click)="onListeMarcher(mairie)"
                      class="">Marcher N° : {{mairie.idMairie}} </a> </button></td>
                    <td>{{mairie.libelleMairie}}</td>
                    <td>{{mairie.quartierMairie}}</td>
                    <td>{{mairie.typeMairie}}</td>
                    <td>{{mairie.commune.libelleCommune}}</td>

                    <td *ngIf="connexion.isAdmin()" ><button class="btn btn-danger"> 
                      <a (click)="onDelete(mairie)"
                      ><i class="fa fa-trash-o fa-lg"></i></a> </button></td>

                    <td *ngIf="connexion.isAdmin()"><button class="btn btn-warning"> 
                      <a (click)="onUpdate(mairie)">
                        <i class="fa fa-pencil" aria-hidden="true"></i></a> </button></td> 
                  </tr>
                 
                  </tbody>
                  <tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
          </div>

          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>


    <section class="content" *ngIf="listeMarcherByMairie">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-12">
            <div class="card card-success">
              <div class="card-header">
                <h3 class="card-title">La liste des Marchers</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Marcher N°</th>
                    <th>Libelle Place Utilisateur</th>
                    <!-- <th>Libelle Place Marchand</th> -->
                   
                  </tr>
                  </thead>
                  <tbody *ngFor="let listemarcherbymairie of listeMarcherByMairie">
                
                  <tr>                   
                    <td>{{listemarcherbymairie.libelleMarcher}}</td>

                    <td><button class="btn btn-success"> 
                      <a (click)="onListePlaceUtilisateur(listemarcherbymairie)">
                        Affecter Place Utilisateur</a></button></td>

                      <td><button class="btn btn-success"> <a (click)="onListePlaceMarchand(listemarcherbymairie)"
                        >Affecter Place Marchand</a> </button></td>

                  </tr>
                 
                  </tbody>
                  <tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
          </div>

          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>



    <section class="content" *ngIf="listePlaceByMarcher">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-12">
            <div class="card card-success">
              <div class="card-header">
                <h3 class="card-title">La liste des Places Disponible</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Place N°</th>
                    <th>Libelle Place</th>
                   
                  </tr>
                  </thead>
                  <tbody *ngFor="let listeplacebymarcher of listePlaceByMarcher">
                
                  <tr  *ngIf="!listeplacebymarcher.selectedUtilisateur">
                    <td><button class="btn btn-success">
                       <a class="">Place : {{listeplacebymarcher.idPlace}}</a></button></td>
                    <td>


                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" 
                        [value]="listeplacebymarcher.idPlace"  
                        name="{{listeplacebymarcher.idPlace}}" 
                        (change)="getIdPlaceSelectionner($event, listeplacebymarcher.idPlace)"
                        >
                      
                        <label class="form-check-label btn btn-success" style="margin-left: 20px;">
                          {{listeplacebymarcher.numeroPlace}}
                         </label>
                      </div>
                    </td>

                  </tr>
                 
                  </tbody>
                  <tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->



      <div class="card-footer" style="margin-left: 25cm;">
        

        <button type="button" class="btn btn-success" 
        (click)="onListeUtilisateur()"
        data-toggle="modal" data-target="#exampleModalCenter">
        Choisir Utilisateur
        </button>
      </div>
      
      
  <!-- Modal -->
<div class="modal fade" id="exampleModalCenter"  tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
    
      <div class="modal-body">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">La Liste des Utilisateurs</h5>
          </div>
  
          <div class="modal-body">
            <form #f="ngForm" (ngSubmit)="onAddPlaceToUtilisataur(f.value)">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label btn btn-success col-sm-12">Veuillez Choisir un Utilisateur:</label>
               <br><br>
                <select name="utilisateur" class="form-control" id="recipient-name" ngModel>
                  <option 
                  *ngFor="let listeutilisateurbymairie of listeUtilisateurByMarcher"
                  value="{{listeutilisateurbymairie.idUtilisateur}}">
                  {{listeutilisateurbymairie.codeUtilisateur}} {{listeutilisateurbymairie.nomUtilisateur}} {{listeutilisateurbymairie.prenomUtilisateur}} 
                </option>
                 
                </select>
              </div>
  
              <div class="modal-footer">
                <button type="button" class="btn btn-danger col-sm-4" data-dismiss="modal">Fermer</button>
                <button type="submit" class="btn btn-success col-sm-6">Affecter</button>
              </div>
            </form>
          </div>
      </div>
    
    </div>
  </div>
</div>
      

  </div>


    </section>







    <section class="content" *ngIf="listePlaceByMarchand">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-12">
            <div class="card card-success">
              <div class="card-header">
                <h3 class="card-title">La liste des Places Disponible</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Place N°</th>
                    <th>Libelle Place</th>
                   
                  </tr>
                  </thead>
                  <tbody *ngFor="let listeplacebymarchand of listePlaceByMarchand">
                
                  <tr  *ngIf="!listeplacebymarchand.selectedMarchand">
                    <td><button class="btn btn-success">
                       <a >Place : {{listeplacebymarchand.idPlace}}</a></button></td>
                    <td>

                      <div class="form-check">
                          <input class="form-check-input" type="checkbox" 
                          name="{{listeplacebymarchand.idPlace}}"  
                          [value]="listeplacebymarchand.idPlace" 
                          (change)="getIdPlaceSelectionner($event, listeplacebymarchand.idPlace)"
                          >                    
                        <label class="form-check-label btn btn-success" style="margin-left: 20px;">
                         {{listeplacebymarchand.numeroPlace}}
                        </label>
                      </div>
                    </td>

                  </tr>
                 
                  </tbody>
                  <tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->



      <div class="card-footer" style="margin-left: 25cm;">
        

        <button type="button" class="btn btn-success" 
        (click)="onListeMarchandByMarcher()"
        data-toggle="modal" data-target="#exampleModalCenter">
        Choisir Un Marchand
        </button>
      </div>
      
  <!-- Modal -->
<div class="modal fade" id="exampleModalCenter"  tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
    
      <div class="modal-body">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">La Liste des Marchand</h5>
          </div>
  
          <div class="modal-body">
            <form #f="ngForm" (ngSubmit)="onAddPlaceToMachand(f.value)">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label btn btn-success col-sm-12">Veuillez Choisir un Marchand:</label>
                <br><br>
                <select name="marchand" class="form-control" id="recipient-name" ngModel>
                  <option 
                  *ngFor="let listeMarchandBymarcher of listeMarchandByMarcher"
                  value="{{listeMarchandBymarcher.idMarchand}}">
                  {{listeMarchandBymarcher.nomMarchand}} {{listeMarchandBymarcher.prenomMarchand}} {{listeMarchandBymarcher.marcher.libelleMarcher}} 
                </option>
                 
                </select>
              </div>
  
              <div class="modal-footer">
                <button type="button" class="btn btn-danger col-sm-4" data-dismiss="modal">Fermer</button>
                <button type="submit" class="btn btn-success col-sm-6">Affecter</button>
              </div>
            </form>
          </div>
      </div>
    
    </div>
  </div>
</div>
      

  </div>


    </section>
    <!-- /.content -->
  </div>


 






